 <style>
        .sec_layout .layout .aside{
            width: 241px;
            height: 100vh;
            position: fixed;
            left: -241px;
            top: 0px;
            z-index: 99;
            background: #ccc;
        }

        .sec_layout .layout .aside ul{
            padding-bottom: 12px;
            border-bottom: 1px solid #e5e5e5;
        }
        .sec_layout .layout .aside ul li a{display: flex; width: 100%; padding: 11px 12px; align-items: center; font-size: 14px;}
        .sec_layout .layout .aside ul li.active a{background: #f2f2f2; border-radius: 12px;}
        .sec_layout .layout .aside ul li a i{margin-right: 26px; font-size: 18px;}
       
        .sec_layout .layout .aside ul li a:hover{
            background: #f2f2f2;
            border-radius: 12px;
        }
 </style>
						   
						   
<ul class="gnb">
   <li class="active"><a href="#"><i class="fa-solid fa-house"></i><span>홈</span></a></li>
   <li><a href="#"><i class="fa-solid fa-house"></i><span>보관함</span></a></li>
   <li><a href="#"><i class="fa-solid fa-house"></i><span>시청기록</span></a></li>
 </ul>