<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/front_header">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet" type="text/css" href="css/style.css">
<title>Document</title>
</head>
<style>
* {
	box-sizing: border-box
}

#wrap {
	position: relative;
}

.main {
	width: 69%;
}

.youtube_main {
	
}

h1 {
	text-align: center;
}

h5 {
	text-align: center;
}

#comment_box {
	/* display: flex; */
	padding-top: 60px;
	padding-left: 47px;
	text-align-last: center;
}

#info_box {
	padding-left: 17px;
}

.profile_img {
	width: 700px;
	height: 400px;
}

.img_box {
	
}

.omg {
	padding: 0 23px;
}

.later {
	width: 1000px;
}
</style>
<body>
	<div id="wrap">
		<div th:replace="fragments/header"></div>
		<div class="sec_layout">
			<div class="inner">
				<div class="layout">
					<div class="aside">
						<div th:replace="fragments/aside"></div>
					</div>
					<section class="main">
						<div class="youtube_main">
							<div id="info_box">
								<h1>내 YouTube 댓글</h1>
								<h5>YouTube에서 직접 댓글을 수정 또는 삭제하고 답장할 수 있습니다. 댓글을 삭제하면 완전히
									삭제되기까지 몇 시간이 걸릴 수 있습니다. 자세히 알아보기</h5>
							</div>
							<div id="comment_box" th:each="aa:${mycomm}">

								<div class="omg">
									<div th:text="${aa.user_id}"></div>
									<div th:text="${aa.content}"></div>
									<div th:text="${aa.nowdate}"></div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

</body>
</html>